:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    margin-left: -10px;
    margin-bottom: 30px;
}

.gallery__item {
    width: calc(100% / 4 - 20px);
    margin-left: 20px;
    margin-top: 20px;

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
    transform: scale(1.03);
}

.gallery__image {
    display: block;
    height: 250px;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

// .gallery__link {
//     display: block;
//     text-decoration: none;
//     height: 230px;
// }

.gallery__link:hover {
    cursor: zoom-in;
}

.info {
    display: flex;
}